.MatchItem-card {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
  grid-gap: .25rem;
  margin: .5rem 1rem;
  padding: .5rem;
}

.MatchItem-card section:first-child {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.MatchItem-card section:nth-child(2) {
  margin: .5rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
