.GWBM_grid {
  /* position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0; */
  height: 100%;
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
}

.GWBM_content {
  height: 100%;
  padding: 1vmin;
  overflow-y: scroll;
  text-align: center;
}
