body {
  height: calc(var(--vh, 1vh) * 100);
  margin: 0;
}

*, *::after, *::before {
  box-sizing: border-box;
}

#root {
  height: 100%;
}

.text-center {
  text-align: center;
}

.flex-col-ctr {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.justify-content-between {
  justify-content: space-between;
}

.height-width-100 {
  height: 100%;
  width: 100%;
}

.margin-bottom-1rem {
  margin-bottom: 1rem;
}

.margin-top-2rem {
  margin-top: 2rem;
}

.margin-left-auto {
  margin-left: auto !important;
}

.PrivateRadioButtonIcon-layer-193 {
  color: #d5dcd6 !important;
}
